
<div class="row">
  <div class="panel">
    <div class="panel-body">
      <div class="row">
        <div class="col-md-4">
          <div class="logo">
            <img src="" alt="" />
          </div>
          <p>
            <b>Google</b>
          </p>
          <p>
            London
          </p>
          <p>
            Advertising Marketing
          </p>
          <p>
            15-20 people
          </p>
      </div>
      <div class="col-md-4">
        <p>
          <b>Google</b>
        </p>
        <p>
          London
        </p>
        <p>
          Advertising Marketing
        </p>
        <p>
          15-20 people
        </p>
      </div>

      <div class="col-md-4 decision">

        <div class="row buttons">
            <button class="btn btn-default pull-right panel-buttons" name="skip">Skip</button>
            <button class="btn btn-default pull-right panel-buttons" name="apply">Apply</button>
        </div>
        <a class="show-more" role="button" data-toggle="collapse" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
          show less <span class="caret"></span>
        </a>
      </div>


    </div>
    <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
      <div class="panel-body">
        <div class="row">
          <div class="role col-md-8 job">
            <p class="job-title">
              <b>Software Developer</b>
            </p>
            <p>Google’s software engineers develop the next-generation technologies that change how millions interact, making accessible and useful the world’s information, and our ambitions reach far beyond just Search. To handle information at the scale of the web requires ideas from every area of computer science, including information retrieval, artificial intelligence, machine learning, natural language processing, distributed computing, large-scale system design, networking, security, data compression and user interface design; the list goes on and is growing every day.</p>
            <p>As a software engineer, you work on a small team and can switch teams and projects as our fast-paced business grows and evolves. We need our engineers to be versatile and always eager to tackle new problems as we continue to push technology forward.</p>
          </div>

          <div class="company col-md-4">
            <p>
              <b>Company Desctiption</b>
            </p>
            <p>
              Lots of cool things about this company, such a great place to work!
            </p>
          </div>
        </div>


      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="panel">
    <div class="panel-body">
      Basic panel example
      <a class="collapsed" role="button" data-toggle="collapse" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
        expand <span class="caret"></span>
      </a>
    </div>
    <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
      <div class="panel-body">
        <div class="row">
          <div class="role col-md-8 job">
            <p>Google’s software engineers develop the next-generation technologies that change how millions interact, making accessible and useful the world’s information, and our ambitions reach far beyond just Search. To handle information at the scale of the web requires ideas from every area of computer science, including information retrieval, artificial intelligence, machine learning, natural language processing, distributed computing, large-scale system design, networking, security, data compression and user interface design; the list goes on and is growing every day.</p>
            <p>As a software engineer, you work on a small team and can switch teams and projects as our fast-paced business grows and evolves. We need our engineers to be versatile and always eager to tackle new problems as we continue to push technology forward.</p>
          </div>
          <div class="row">
            <div class="company col-md-4">
              <p>
                A wonderful company!
              </p>
              </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="panel">
    <div class="panel-body">
      Basic panel example
      <a class="collapsed" role="button" data-toggle="collapse" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
        expand <span class="caret"></span>
      </a>
    </div>
    <div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
      <div class="panel-body">
        <p>Google’s software engineers develop the next-generation technologies that change how millions interact, making accessible and useful the world’s information, and our ambitions reach far beyond just Search. To handle information at the scale of the web requires ideas from every area of computer science, including information retrieval, artificial intelligence, machine learning, natural language processing, distributed computing, large-scale system design, networking, security, data compression and user interface design; the list goes on and is growing every day.</p>
        <p>As a software engineer, you work on a small team and can switch teams and projects as our fast-paced business grows and evolves. We need our engineers to be versatile and always eager to tackle new problems as we continue to push technology forward.</p>
      </div>
    </div>
  </div>
</div>
