<div class="row">
  <div class="panel">
    <div class="panel-body">
      <div class="row">
        <div class="col-md-2" style="padding:0;">
          <img class="logo img-responsize" src="http://cdn.androidbeat.com/wp-content/uploads/2015/12/google-logo.jpg" alt="google" />
        </div>
        <div class="col-md-3">
          <p class="detail">
            <b>Google</b>
          </p>
          <p class="detail">
            London
          </p>
          <p class="detail">
            Advertising Marketing
          </p>
          <p class="detail">
            15-20 people
          </p>
      </div>
      <div class="col-md-3">
        <p class="detail">
          Software Developer
        </p>
        <p class="detail soft">
          C++, Python, JavaScript
        </p>
        <p class="detail">
          £35,000 - £45,000
        </p>
        <p class="detail soft">
          Posted today @ 15:45
        </p>
      </div>

      <div class="col-md-4 decision">

        <div class="row buttons">
            <button class="btn btn-default pull-right panel-buttons" name="skip">Skip</button>
            <button class="btn btn-default pull-right panel-buttons" name="apply">Apply</button>
        </div>
        <a class="show-less" role="button" data-toggle="collapse" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
          show less <span class="caret"></span>
        </a>
      </div>
    </div>
  </div>

    <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
      <div class="panel-body">
        <div class="row">
          <div class="role col-md-8 job">
            <p class="job-title">
              <b>Software Developer</b>
            </p>
            <p>Google’s software engineers develop the next-generation technologies that change how millions interact, making accessible and useful the world’s information, and our ambitions reach far beyond just Search. To handle information at the scale of the web requires ideas from every area of computer science, including information retrieval, artificial intelligence, machine learning, natural language processing, distributed computing, large-scale system design, networking, security, data compression and user interface design; the list goes on and is growing every day.</p>
            <p>As a software engineer, you work on a small team and can switch teams and projects as our fast-paced business grows and evolves. We need our engineers to be versatile and always eager to tackle new problems as we continue to push technology forward.</p>
          </div>

          <div class="company col-md-4">
            <p>
              <b>Company Desctiption</b>
            </p>
            <p>
              Welcome to Google's official page. Here, you'll find product news and announcements, company updates, glimpses into what it's like to work at Google, discussions on technology and the web, and much more.
            </p>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>

<!-- end first -->

<div class="row">
  <div class="panel">
    <div class="panel-body">
      <div class="row">
        <div class="col-md-2" style="padding:0;">
          <img class="logo img-responsize" src="http://cdn.androidbeat.com/wp-content/uploads/2015/12/google-logo.jpg" alt="google" />
        </div>
        <div class="col-md-3">
          <p class="detail">
            <b>Google</b>
          </p>
          <p class="detail">
            London
          </p>
          <p class="detail">
            Advertising Marketing
          </p>
          <p class="detail">
            15-20 people
          </p>
      </div>
      <div class="col-md-3">
        <p class="detail">
          Software Developer
        </p>
        <p class="detail soft">
          C++, Python, JavaScript
        </p>
        <p class="detail">
          £35,000 - £45,000
        </p>
        <p class="detail soft">
          Posted today @ 15:45
        </p>
      </div>

      <div class="col-md-4 decision">

        <div class="row buttons">
            <button class="btn btn-default pull-right panel-buttons" name="skip">Skip</button>
            <button class="btn btn-default pull-right panel-buttons" name="apply">Apply</button>
        </div>
        <a class="show-less" role="button" data-toggle="collapse" href="#collapseTwo" aria-expanded="true" aria-controls="collapseTwo">
          show more <span class="caret"></span>
        </a>
      </div>
    </div>
  </div>

    <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
      <div class="panel-body">
        <div class="row">
          <div class="role col-md-8 job">
            <p class="job-title">
              <b>Software Developer</b>
            </p>
            <p>Google’s software engineers develop the next-generation technologies that change how millions interact, making accessible and useful the world’s information, and our ambitions reach far beyond just Search. To handle information at the scale of the web requires ideas from every area of computer science, including information retrieval, artificial intelligence, machine learning, natural language processing, distributed computing, large-scale system design, networking, security, data compression and user interface design; the list goes on and is growing every day.</p>
            <p>As a software engineer, you work on a small team and can switch teams and projects as our fast-paced business grows and evolves. We need our engineers to be versatile and always eager to tackle new problems as we continue to push technology forward.</p>
          </div>

          <div class="company col-md-4">
            <p>
              <b>Company Desctiption</b>
            </p>
            <p>
              Welcome to Google's official page. Here, you'll find product news and announcements, company updates, glimpses into what it's like to work at Google, discussions on technology and the web, and much more.
            </p>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>

<!-- end second -->

<div class="row">
  <div class="panel">
    <div class="panel-body">
      <div class="row">
        <div class="col-md-2" style="padding:0;">
          <img class="logo img-responsize" src="http://cdn.androidbeat.com/wp-content/uploads/2015/12/google-logo.jpg" alt="google" />
        </div>
        <div class="col-md-3">
          <p class="detail">
            <b>Google</b>
          </p>
          <p class="detail">
            London
          </p>
          <p class="detail">
            Advertising Marketing
          </p>
          <p class="detail">
            15-20 people
          </p>
      </div>
      <div class="col-md-3">
        <p class="detail">
          Software Developer
        </p>
        <p class="detail soft">
          C++, Python, JavaScript
        </p>
        <p class="detail">
          £35,000 - £45,000
        </p>
        <p class="detail soft">
          Posted today @ 15:45
        </p>
      </div>

      <div class="col-md-4 decision">

        <div class="row buttons">
            <button class="btn btn-default pull-right panel-buttons" name="skip">Skip</button>
            <button class="btn btn-default pull-right panel-buttons" name="apply">Apply</button>
        </div>
        <a class="show-less" role="button" data-toggle="collapse" href="#collapseThree" aria-expanded="true" aria-controls="collapseThree">
          show more <span class="caret"></span>
        </a>
      </div>
    </div>
  </div>

    <div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
      <div class="panel-body">
        <div class="row">
          <div class="role col-md-8 job">
            <p class="job-title">
              <b>Software Developer</b>
            </p>
            <p>Google’s software engineers develop the next-generation technologies that change how millions interact, making accessible and useful the world’s information, and our ambitions reach far beyond just Search. To handle information at the scale of the web requires ideas from every area of computer science, including information retrieval, artificial intelligence, machine learning, natural language processing, distributed computing, large-scale system design, networking, security, data compression and user interface design; the list goes on and is growing every day.</p>
            <p>As a software engineer, you work on a small team and can switch teams and projects as our fast-paced business grows and evolves. We need our engineers to be versatile and always eager to tackle new problems as we continue to push technology forward.</p>
          </div>

          <div class="company col-md-4">
            <p>
              <b>Company Desctiption</b>
            </p>
            <p>
              Welcome to Google's official page. Here, you'll find product news and announcements, company updates, glimpses into what it's like to work at Google, discussions on technology and the web, and much more.
            </p>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>

<!-- end last -->
