<div class="row">
  <div class="dropdown-options">
    <ul class="nav nav-pills" role="tablist">
      <li role="presentation" class="dropdown">
        <a href="#" class="dropdown-toggle" id="drop4" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"> Job Title <span class="caret"></span> </a>
        <ul class="dropdown-menu category" id="menu1" aria-labelledby="drop4">
          <li>
            <a href="#" id="dev">Software Developer</a>
          </li>
          <li>
            <a href="#">Machine Learning</a>
          </li>
          <li>
            <a href="#">Web Engineering</a>
          </li>
        </ul>
      </li>

      <li role="presentation" class="dropdown">
        <a href="#" class="dropdown-toggle" id="drop4" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"> Skill <span class="caret"></span> </a>
        <ul class="dropdown-menu category" id="menu1" aria-labelledby="drop4">
          <li>
            <a href="#">C++</a>
          </li>
          <li>
            <a href="#">Ruby</a>
          </li>
          <li>
            <a href="#">Python</a>
          </li>
        </ul>
      </li>

      <li role="presentation" class="dropdown">
        <a href="#" class="dropdown-toggle" id="drop4" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"> Location <span class="caret"></span> </a>
        <ul class="dropdown-menu category" id="menu1" aria-labelledby="drop4">
          <li>
            <a href="#">London</a>
          </li>
          <li>
            <a href="#">Manchester</a>
          </li>
          <li>
            <a href="#">Edinburgh</a>
          </li>
        </ul>
      </li>

      <li role="presentation" class="dropdown">
        <a href="#" class="dropdown-toggle" id="drop4" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"> Salary <span class="caret"></span> </a>
        <ul class="dropdown-menu category" id="menu1" aria-labelledby="drop4">
          <li>
            <a href="#">25-35K</a>
          </li>
          <li>
            <a href="#">35-45K</a>
          </li>
          <li>
            <a href="#">45-55K</a>
          </li>
        </ul>
      </li>
    </ul>
  </div>
  </div>


  <div class="row">
  <div class="positions">
    <p>
      450 Positions
    </p>
  </div>
</div>
