<div class="row">
  <div class="search-tags">
    <input type="text" value="Software Developer,C++,London,45-65k" placeholder="Filter by keyword" data-role="tagsinput" id="tags">
    <button class="btn btn-sm pull-right run" type="button" name="Run">run</button>
  </div>
</div>
