<div class="sidebar" data-color="blue" data-image="assets/img/sidebar-5.jpg">
  <div class="sidebar-wrapper">
        <div class="logo">
            <a href="#" class="simple-text">
                Elon Musk
            </a>
        </div>

        <ul class="nav">
            <li>
                <a href="#">
                    <i class="pe-7s-graph"></i>
                    <p>Search</p>
                </a>
            </li>
            <li>
                <a href="#">
                    <i class="pe-7s-graph"></i>
                    <p>Applications</p>
                </a>
        </ul>
  </div>
</div>
