<html lang="en">
<head>
	<meta charset="utf-8" />
	<link rel="icon" type="image/png" href="assets/img/favicon.ico">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />

	<title>Co-hire mockup</title>

	<meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0' name='viewport' />
    <meta name="viewport" content="width=device-width" />

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>


    <!--  Light Bootstrap Table core CSS    -->
    <!-- <link href="assets/stylesheets/light-bootstrap-dashboard.css" rel="stylesheet"/> -->

    <!-- bootstrap-tagsinput CSS -->
    <!-- <link href="assets/stylesheets/bootstrap-tagsinput.css" rel="stylesheet"/> -->


    <!--     Fonts and icons     -->
    <link href="http://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
    <link href='http://fonts.googleapis.com/css?family=Roboto:400,700,300' rel='stylesheet' type='text/css'>
    <!-- <link href="assets/css/pe-icon-7-stroke.css" rel="stylesheet" /> -->

</head>
<body>

<div class="wrapper">
    <div class="sidebar" data-color="blue" data-image="assets/img/sidebar-5.jpg">

    <!--

        Tip 1: you can change the color of the sidebar using: data-color="blue | azure | green | orange | red | purple"
        Tip 2: you can also add an image using data-image tag

    -->

    	<div class="sidebar-wrapper">
            <div class="logo">
                <a href="#" class="simple-text">
                    Co-Hire
                </a>
            </div>

            <ul class="nav">
                <li class="active">
                    <a href="dashboard.html">
                        <i class="pe-7s-graph"></i>
                        <p>Dashboard</p>
                    </a>
                </li>

            </ul>
    	</div>
    </div>

    <div class="main-panel">
        <nav class="navbar navbar-default navbar-fixed">
            <div class="container-fluid">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="#">Dashboard</a>
                </div>
                <div class="collapse navbar-collapse">
                    <ul class="nav navbar-nav navbar-left">
                        <li>
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                <i class="fa fa-dashboard"></i>
                            </a>
                        </li>
                    </ul>

                    <ul class="nav navbar-nav navbar-right">
                        <li>
                           <a href="">
                               Account
                            </a>
                        </li>


                    </ul>
                </div>
            </div>
        </nav>


        <div class="content">
            <div class="container">
                <div class="row">
                  <div class="search-tags">
                    <input type="text" value="Software Developer,C++,London,45-65k" placeholder="Filter by keyword" data-role="tagsinput">
                    <button class="btn btn-sm pull-right run" type="button" name="Run">run</button>
                  </div>
                </div>
              </div>

                  <div class="container">
                    <div class="row">
                      <div class="dropdown-options">
                        <ul class="nav nav-pills" role="tablist">
                           <li role="presentation" class="dropdown">
                             <a href="#" class="dropdown-toggle" id="drop4" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"> Job Title <span class="caret"></span> </a>
                              <ul class="dropdown-menu" id="menu1" aria-labelledby="drop4">
                               <li>
                                 <div class="filter-row" data-key="locations" data-value="1695-London, GB">London, GB</div>
                                 <!-- <a href="#">Software Developer</a> -->
                               </li>
                               <li>
                                 <a href="#">Machine Learning</a>
                               </li>
                               <li>
                                 <a href="#">Web Engineering</a>
                               </li>
                             </ul>
                           </li>

                           <li role="presentation" class="dropdown">
                             <a href="#" class="dropdown-toggle" id="drop4" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"> Skill <span class="caret"></span> </a>
                              <ul class="dropdown-menu" id="menu1" aria-labelledby="drop4">
                               <li>
                                 <a href="#">C++</a>
                               </li>
                               <li>
                                 <a href="#">Ruby</a>
                               </li>
                               <li>
                                 <a href="#">Python</a>
                               </li>
                             </ul>
                           </li>

                           <li role="presentation" class="dropdown">
                             <a href="#" class="dropdown-toggle" id="drop4" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"> Location <span class="caret"></span> </a>
                              <ul class="dropdown-menu" id="menu1" aria-labelledby="drop4">
                               <li>
                                 <a href="#">London</a>
                               </li>
                               <li>
                                 <a href="#">Manchester</a>
                               </li>
                               <li>
                                 <a href="#">Edinburgh</a>
                               </li>
                             </ul>
                           </li>

                           <li role="presentation" class="dropdown">
                             <a href="#" class="dropdown-toggle" id="drop4" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"> Salary <span class="caret"></span> </a>
                              <ul class="dropdown-menu" id="menu1" aria-labelledby="drop4">
                               <li>
                                 <a href="#">25-35K</a>
                               </li>
                               <li>
                                 <a href="#">35-45K</a>
                               </li>
                               <li>
                                 <a href="#">45-55K</a>
                               </li>
                             </ul>
                           </li>
                          </ul>
                        </div>
                    </div>
                  </div>

        </div>


        <footer class="footer">
            <div class="container-fluid">
                <nav class="pull-left">
                    <ul>
                        <li>
                            <a href="#">
                                Home
                            </a>
                        </li>

                    </ul>
                </nav>
                <p class="copyright pull-right">
                    &copy; 2016 <a href="#">Co-Hire</a>, better hiring!
                </p>
            </div>
        </footer>

    </div>
</div>


</body>

    <!-- JS files -->

    <!--  Bootstrap tags input Plugin -->
  	<!-- <script src="assets/javascripts/bootstrap-tagsinput.js"></script> -->

</html>
