/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 .bootstrap-tagsinput .added {
   margin-left: 3px;
 }
 .panel {
   margin-bottom: 0;
   border-right: 3em solid #E0E0E0;
   border-top: 1px solid #E0E0E0;
   border-left: 0;
   border-bottom: 0;
 }

 .panel-buttons {
   border: none;
   margin: 1px;
   background-color: #E0E0E0;
 }

 .panel-buttons:hover {
   border: none;
   margin: 1px;
   background-color: #95a5a6;
 }

 .detail {
   margin-bottom: 0;
 }

 .soft {
   color: grey;
 }

 .buttons {
   display: flex;
   flex-direction: row;
   justify-content: center;
   margin-bottom: 0.8em;
 }

 .decision {
   text-align: center;
   padding-top: 0.5em;
 }

 .logo {
   width: 100%;
 }

 .job {
   border-right: 2px solid #E0E0E0;
 }

 .job-title {
   text-transform: bold;
 }

 .positions {
   display: flex;
   flex-direction: column;
   justify-content: center;
   height: 3em;
 }
 .footer.positions {
   margin-top: 0;
   background-color: #E0E0E0
 }
