// Place all the styles related to the pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
 @import url("https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css");


 $content-background: #E0E0E0;
 $button-hover: #95a5a6;

 .bootstrap-tagsinput .added {
   margin-left: 3px;
 }
 .panel {
   margin-bottom: 0;
   border-right: 3em solid $content-background;
   border-top: 1px solid $content-background;
   border-left: 0;
   border-bottom: 0;
 }

 .panel-buttons {
   &:hover{
     background-color: $button-hover;
   }
   border: none;
   margin: 1px;
   background-color: $content-background;
 }

 .detail {
   margin-bottom: 0;
 }

 .soft {
   color: grey;
 }

 .buttons {
   display: flex;
   flex-direction: row;
   justify-content: center;
   margin-bottom: 0.8em;
 }

 .decision {
   text-align: center;
   padding-top: 0.5em;
 }

 .logo {
   width: 100%;
 }

 .job {
   border-right: 2px solid $content-background;
 }

 .job-title {
   text-transform: bold;
 }

 .positions {
   display: flex;
   flex-direction: column;
   justify-content: center;
   height: 3em;
 }
 .footer.positions {
   margin-top: 0;
   background-color: $content-background
 }
